<!doctype html>
<html>
  <head>
    <title>ChatBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css"></link>
    <link rel="stylesheet" type="text/css" href="styles/login.css"></link>
    <link rel="stylesheet" type="text/css" href="styles/media.css"></link>
  </head>
  <body> 
    <h1>ChatBox</h1>
    <div id="loginContainer">
      <h3>Log in to join chat</h3>
      <div id="login-box">
          <form action="/" method="POST" id="loginForm">
            
            <label for="display_name">Display name</label>
            <input type="text" name="display_name" id="display_name" required/>
            
            <img id="testImage" class="hidden profileImage" src="images/profiles/default.png" />
            
            <label for="profile_image">Profile Image</label>
            <input type="text" name="profile_image" id="profile_image" />
            
            <button id="loginButton">Join chat</button>
          </form>
      </div> 
    </div>
    <script src="scripts/login.js"></script>
  </body>
</html>