<!doctype html>
<html>
  <head>
    <title>ChatBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css"></link>
    <link rel="stylesheet" type="text/css" href="./styles/login.css"></link>
    <link rel="stylesheet" type="text/css" href="./styles/media.css"></link>
  </head>
  <body> 
    <h1>ChatBox</h1>
    <div id="loginContainer">
      <h3>Enter username to join chat</h3>
      <div id="login-box">
          <form action="/chatbox/" method="POST" id="loginForm">
            <img id="testImage" class="profileImage" src="./images/profiles/default.png" />
            <label for="display_name">Display name</label>
            <input type="text" name="display_name" id="display_name" required/>
            <button id="loginButton" class="btn btn_purple">Join chat</button>
          </form>
      </div> 
    </div>
    <script src="./scripts/login.js"></script>
  </body>
</html>