#mainBody{ 
    display: flex; 
}  
header{
    display: flex;
    justify-content: space-between;
}
header h1{
    width: 30%; 
}
header nav{
    width: 70%;
    display: flex;
    justify-content: flex-end; 
}
header nav button, header nav a{
    margin-right: 20px; 
    align-self: center;
    padding: 5px; 
    border: 1px solid rgb(161, 16, 161);
    border-radius: 5px;
    color: rgb(189, 26, 189);
    font-weight: bold;
    background: none;
    cursor: pointer;
}
header nav button:hover, header nav a:hover{
    background-color: rgba(225, 225, 225, .5);
} 
#userIndex{
    width: 26%;
    margin: 0 2%;
    padding-right: 10px; 
    overflow: hidden;
} 
#listContainer{  
    overflow: hidden;
    overflow-y: scroll;
    width: 120%;
    height: 70%; 
    padding-bottom: 150px;
}
#userIndex.smallList{
    position: absolute;
    background-color: rgb(101, 0, 110);
    width: 104%;
    margin: 0; 
    padding-bottom: 150px;
}
#userIndex h3{
    color: rgb(228, 185, 233);
    background-color: rgb(46, 0, 58);
    padding: 4px; 
    border-radius: 9px;
    width: 80%;
    margin: 8px auto 18px auto;
}
#userList{ 
    margin-top: 8px; 
    display: block;
}
#userIndex li{
    display: flex;
    list-style-type: none;
    color: white;
    padding: 5px;   
    position: relative;
} 
#userIndex li:hover{
    background-color: rgb(59, 0, 94);
    cursor: pointer;
}
#userIndex p{  
    width: 100%;
    padding: 9px; 
    color: rgb(228, 185, 233);
    font-weight: bold;
    text-shadow: .5px .5px 1px rgb(31, 0, 51);
}
#userIndex li:hover p{
    padding-left: 15px;
}
#userIndex .group{
    background-color:  rgb(46, 0, 58);
    margin-top: 10px; 
    padding: 3px;
}
#userIndex .profileImage{
    height: 30px; 
    width: 30px; 
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}
#userIndex .thisUser p{ 
    color: rgb(131, 17, 141);
}
#userIndex #userList .thisUser{
    background-color: rgb(46, 0, 58);
}
.chatUser #directMessageBox{
    background-color: rgb(243, 243, 243);
    border: 1px solid white;
    position: absolute;
    right: 0;   
    width: 100%;
    left: 0; 
    top: 0;
    z-index: 2;  
    box-shadow: 0 0 3px rgb(58, 0, 58); 
    padding-bottom: 5px;
}
.chatUser #directMessageBox div{ 
    width: 83%;
}
.chatUser #directMessageBox h4{ 
    color: rgb(92, 0, 92); 
    font-weight: bold;
    margin: 14px auto 5px auto;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}
.chatUser div input, .chatUser div #sendDirect_btn{
    width: 85%; 
    margin: 5px 5%;
    padding: 8px 5px;
    border-radius: 3px; 
    border: none;
    box-shadow: 0 0 3px rgb(126, 126, 126);
} 
#directMessageBox .profileImage{
    position: absolute;
    top: -13px;
    left: 12px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 3px black; 
}
.chatUser div #sendDirect_btn{
    width: 89%;
    color: rgb(230, 116, 253);
    margin-bottom: 5px; 
    font-weight: bold;
    background-color: rgb(84, 4, 121);
    cursor: pointer;
}
.chatUser div #sendDirect_btn:hover{ 
    background-color: purple; 
} 
#messageForm { 
    background: rgb(99, 99, 99); 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    display: flex;
    box-shadow: 0 0 6px rgb(52, 3, 85);
}
#messageForm input { 
    border: 0; 
    padding: 12px 10px; 
    width: 85%; 
} 
#messages { 
    list-style-type: none; 
    margin: 0;
    margin-left: 11px;   
    padding: 0; 
    background-color: rgb(185, 185, 185);
    width: 70%;
    height: 86vh;
    overflow-y: scroll;
    box-shadow: 0 0 4px rgb(35, 0, 46);
}
#messages li { 
    padding: 10px;
    display: flex; 
    background-color: white;  
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 6px solid rgb(226, 226, 226);
} 
#messages li:nth-child(odd){
    border-left: 6px solid rgb(199, 199, 199);
}
#messages .messageText{
    background-color: white; 
    width: 90%;
    margin-left: 5px; 
    padding: 10px; 
    border-radius: 10px;
    color: rgb(107, 107, 107);
}
#messages .user{
    font-weight: bold; 
    color: black;
}  
#messages li.direct .user{ 
    color: blue;
} 
#messages li.direct { 
    font-style: italic;
    border-left: 6px solid blue;
} 